  * {
   box-sizing: border-box; 
  }
  body {
    margin: 0;
  }

  footer, main {
    font-family: "helvetica neue", sans-serif;
    padding: 1em;
  }

  main {
    min-height: 85vh;
    background: #6F4BAA;
    color: #FBFBFF;
  }

  footer {
    text-align: center; /* align child divs vertical */
    background: #20BF55;
    height: 15vh;
  }

  .link {
    font-family: "helvetica neue", sans-serif;
    background: #6F4BAA;
    color: #FBFBFF;
    transition: font-size 300ms ease-in-out; /* hover animation */
  }

  .link:hover {
    font-size: 200%;
  }

  .fa {
    padding: 20px;
    width: 50px;
    text-decoration: none;
    color: #FBFBFF;
  }