  * {
   box-sizing: border-box; 
  }
  body {
    margin: 0;
  }
  header, footer, main {
    font-family: "helvetica neue", sans-serif;
    padding: 1em;
  }

  main {
    min-height: calc(100vh - 35vh);
    background: #E55934;
    color: #FBFBFF;
  }

  header {
    background: #5BC0EB;
    color: #757575;
    height: 20vh;
  }

  footer {
    text-align: center; /* align child divs vertical */
    justify-content: bottom; /* align horizontal */
    background: #9BC53D;
    height: 15vh;
  }

  .link {
    font-family: "helvetica neue", sans-serif;
    min-height: calc(100vh - 35vh);
    background: #6F4BAA;
    color: #FBFBFF;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: #FBFBFF;
  }